#-----------------------------------------------------------------------------#
#                                                                             #
#      DEFAULT CONFIGURATION FILE TO BE USED WITH THE BOOTLOADER SCRIPT       #
#                                                                             #
#-----------------------------------------------------------------------------#
#
# By default this config file,
# - points to sbl uart bootloader for this EVM
# - The application image points to relative path of the application image for this EVM
# - Make sure this application is built before running this script
# - You can customized this config file to point to your application images
#

# Mention the soc name for am275x
--soc=am275x

# First point to sbl_uart binary, which function's as a server to receive application images of other cores through uart
--bootloader=sbl_prebuilt/am275x-evm/sbl_uart.release.hs.tiimage

# This is example appimage which will be loaded to the R50-0 core
--file=../../examples/hello_world/am275x-evm/r5fss0-0_freertos/ti-arm-clang/hello_world.release.mcelf.hs
