INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/csirx.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/cslr_csirx.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/cdn_errno.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/cps_drv.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/csirx.c
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/csirx_if.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/csirx_regs.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/csirx_regs_macros.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/csirx_sanity.c
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/csirx_sanity.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/csirx_ss.c
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/csirx_ss.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/csirx_structs_if.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/cslr_csirx.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/hw_include/cslr_csi_rx_if.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/include/csirx_cfg.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/include/csirx_drvPriv.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/include/csirx_drvUdma.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/include/csirx_event.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/soc/csirx_soc.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/soc/j722s/csirx_soc.c
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/soc/j722s/csirx_soc.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/soc/j722s/csirx_socPriv.h
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/src/csirx_drv.c
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/src/csirx_drvInit.c
# INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/src/csirx_drvUdma.c
INPUT += $(MCU_PLUS_SDK_PATH)/source/drivers/csirx/v0/src/csirx_event.c