#-----------------------------------------------------------------------------#
#                                                                             #
#      DEFAULT CONFIGURATION FILE TO BE USED WITH THE BOOTLOADER SCRIPT      #
#                                                                             #
#-----------------------------------------------------------------------------#
#
# By default this config file,
# - points to sbl uart bootloader for this EVM
# - points to sciserver appimage for the DMR5
# - The application image points to relative path of the ipc rpmsg linux application image for this EVM
#   - Make sure this application is built before running this script
# - You can customized this config file to point to your application images
#

# First point to sbl_uart binary, which function's as a server to receive application images of other cores through uart
--bootloader=sbl_prebuilt/am62x-sk/sbl_uart.release.hs_fs.tiimage

# This is example appimage which will be loaded to the M4 core
--file=../../examples/hello_world/am62x-sk/m4fss0-0_freertos/ti-arm-clang/hello_world.release.appimage.hs_fs

# This is DM appimage which will be loaded to the DM R5 core
--file=../../examples/hello_world/am62x-sk/r5fss0-0_freertos/ti-arm-clang/hello_world.release.appimage.hs_fs

